.people-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    font-size: 5rem;
    /* margin-bottom: 10rem; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.table-pic-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 800px;
    height: 400px; */
}

.table-pic{
    border-radius: 2rem;
    /* object-fit: contain; */
    width: 500px;
    height: 500px;


}
